.control {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 400px;
  border: 1px solid black;

  @each $section, $style in $control-sections {
    &-#{$section} {
      &__list {
        @include reset-list;

        display: flex;
        flex-direction: map-get($style, direction);
        flex-wrap: wrap;
      }

      &__btn {
        @include reset-btn;
        @include control-base;

        color: map-get($style, color);

        &:hover {
          @include control-hover;
        }
      }
    }
  }

  &-numbers {
    width: 216px
  }
}
