$control-size: 72px;

//
$blackMain: #283637;
$whiteMain: #ffffff;
$greenSub: #009788;
$graySub: #677b79;

//
$control-sections: (
  'addition': (
    direction: row,
    color: red,
  ),
  'operand': (
    direction: column,
    color: blue,
  ),
  'numbers': (
    direction: row-reverse,
    color: green,
  ),
);
