@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-btn {
  margin: 0;
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@mixin text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
}

@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin control-base {
  @include centering;
  @include text;

  width: $control-size;
  height: $control-size;
  cursor: pointer;
}

@mixin control-hover {
  background-color: purple;
  border-radius: 50%;
  transition: background-color ease-out 300ms;
}
